*{
    margin: 0;
    padding: 0;
}

.baogia_list_lt{
    text-align: center;
    padding: 10px 0;
}
.baogia_click a{
    color: black !important;
}
.baogia_item_lt a{
    color: rgb(145, 145, 145);
}
.baogia_item_lt a{
    width: 100%;
    display: block;
    padding: 10px 0;
}
.baogia_list_lt{
    border-bottom: 3px solid #f9d493;
    margin: 20px 0;
}
.baogia_item_lt{
    position: relative;
}
.baogia_item_lt span{
    position: absolute;
    height: 3px;
    width : 0px;
    background: #cd6f0b;
    left: -12px;
    bottom: -13px;
   
}
.baogia_click span{
    width: 107% !important;
    transition: width 0.5s linear;
}
table,td,th,tr{
    border: 1px solid rgba(179, 179, 179, 0.9);
    border-collapse: collapse;
}
table{
    width: 100%;
    margin-bottom: 20px;
}
.uutien_lt th{
    width: 33.333%;
}
th{
    padding: 10px 0;
    color: white;
    text-align: center;
    background-color: #cd6f0b;
}
th{
    background-color: #cd6f0b;
}
td{
    text-align: center;
    padding: 10px;
    font-weight: 100;
    font-size: 14px;
    color: #222;
    font-weight: lighter;
    font-weight: bolder;
    font-weight: 100;
    font-family: Arial;
}
tbody tr td:first-child{
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}
.color-green{
    color: rgb(172, 99, 10);
    font-weight: bold;
}
.bg-red img{
    width: 20px;
    margin-bottom: 4px;
}
.bg-red{
    background-color: rgb(194, 28, 28);
    align-items: center;
}
.goitin_lt table{
    width: 100%;
    margin-right: 0!important;
}
.an{
    display: none !important;
}
.hien{
    display: block !important;
}
.uutien_lt,.goitin_lt,.tinle_lt{
    display: none;
}

/* mobi */
.uutien_mb{
    display: none;
}
.baogia_mb .baogia_item_lt{
    text-align: center;
    padding: 0;
}
.baogia_mb .baogia_item_lt a{
    padding-bottom: 0;
    font-size: 14px;
    margin-left: -10px;
}
.uutien_mb{
    margin: 20px 0;
}
.uutien_mb li{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}
.baogia_mb .baogia_item_lt p{
    font-size: 14px;
}
.uutien_mb label{

    display: block;
    width: 150px !important;
    flex: 1;
    margin-right: 10px;
}
.uutien_mb span{
    font-family:Arial, Helvetica, sans-serif;
    flex: 2;

}
.baogia_mb{
    display: none;
}
.baogia_mb li{
    padding: 10px 20px;
    align-items: center;
}
.price{
    color: #cd6f0b;
}
.goitin_click{
    margin: 10px 0;
}
.goitin_click_one{
    background-color: #cd6f0b;
    padding: 10px 20px;
    color: white;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.goitin_hv li {
    display: flex;
    padding: 10px 20px;
}

.goitin_hv label{
    flex: 1;
    display: block;
    margin-right: 10px;
}
.baogia_mb li:nth-child(odd){
    background-color: rgb(215, 205, 192);
}
.goitin_mb .goitin_click_one{
    background-color: yellowgreen;
}
.goitin_mb .goitin_click_two{
    background-color: rgb(81, 48, 228);
}
.goitin_mb .goitin_click_three{
    background-color: rgb(210, 101, 19);
}
.goitin_hv span{
    flex: 2;
    font-family: Arial;
}
.goitin_mb{
    display: none;
    margin: 20px 0;
}
.tinle_mb{
    display: none;
    margin: 20px 0;
}
.baogia_content p{
    font-family: Arial;
    font-size: 16px;
    margin: 10px auto;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
@media screen and (max-width: 600px){
    .baogia_mb{
        display: block;
    }
    .lt{
        display: none;
    }

}
@media screen and (max-width: 768px){
    .baogia_mb{
        display: block;
    }
    .lt{
        display: none;
    }
}