*{
    font-family: Arial, Helvetica, sans-serif;
}

.main-intro{
    padding: 2% 8%;
}
.img-11{
    width: 80%;
}
.img-11 img{
    width: 100%;
}
.img-box-intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box-intro{
    margin: 5% 0%;
}
.title-introduction{
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.bold-text{
    font-weight: bold;
}
.text-center{
    font-size: .9rem;
    font-style: italic;
}
@media screen and (max-width: 800px){
    .main-intro{
        padding: 2%;
    }
}