.wiki_banner img{
    width: 100%;
}
.wiki_box_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #cf6e0e;
}

.wiki_box_search_text p{
    margin-top: 10px;
    color: white;
}
.wiki_box_search_text p:first-child{
    font-weight: bold;
    font-size: 1.5rem;
}
.wiki_box_search_text p:last-child{
    font-size: 1.2rem;
    font-weight: bold;
}
.wiki_box_search_bar{
    width: 100%;
}

.wiki_box_search_bar ul li{
    float: left;
    list-style-type: none;
}
.wiki_box_search_1{
    margin-right: 20px;
}
.wiki_box_search_1 button{
    width: 100%;
}
.wiki_box_search_1 option{
    width: 80px;
}
.wiki_product_text{
    font-weight: 1000;
    padding-bottom: 2%;
    font-size: 22px;
    margin-left: 15px;
}
.wiki_product_text_2{
    font-weight: 1000;
    padding-bottom: 2%;
    padding-top: 3%;
    font-size: 22px;
    margin-left: 15px;
}
.wiki_product_text_3{
    font-weight: 1000;
    font-size: 22px;
    margin-left: 15px;
    padding-top: 3%;

}
.wiki_product_text_4{
    font-weight: 1000;
    font-size: 22px;
    margin-left: 15px;
}
.content_product li a{
    font-weight: 1000;
    color: #cf6e0e;
    font-size: 16px;
}
.wiki_product{
    float: left;
    padding: 10px 10px 0 10px;
}
.wiki_product2{
    float: left;
    padding: 0 10px 10px 10px;
}
.wiki_product2 a,
.wiki_product a{
    font-weight: 700;
    padding-top: 3%;
    text-decoration: none;
    color: black;
}
.wiki_product_1{
    border: 1px solid #cfcfcf;
    padding: 10px;
    border-radius: 5px;
}
.wiki_product img,
.wiki_product2 img{
    height: 215px;
    width: 100%;
}
.wiki_product button,
.wiki_product2 button{
    width: 100%;
    padding: 5px;
}
.tabs-bordered{
    width: 97%;
    margin-left: 15px;
}
.star .star-box{
    margin-top: -12%;
    float: right;
    width: 80px;
    height: 16px;
    background-image: url("../img/star-off.png");
    background-repeat: repeat-x;
    background-size: 16px 16px;
}
.star-box .star-rate{
    float: left;
    height: 16px;
    background-image: url("../img/star-on.png");
    background-repeat: repeat-x;
    background-size: 16px 16px;
}
.wiki_product .price,
.wiki_product2 .price{
    font-size: 80%;
}
.wiki_product_icon{
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.wiki_product_icon_1{
    border: 1px solid #cfcfcf;
    text-align: center;
    padding: 15px;
    margin-top: -20px;
}
.wiki_product_icon_1 img{
    width: 100%;
}
@media only screen and (max-width: 1140px){
    .wiki_box_search{
        display: none;
    }
}
.tab-content{
    margin-bottom: 25px;
}
.wiki_brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.wiki_brand img{
    width: 100%;
}
.owl-nav,
.owl-dots{
    display: none;
}