.heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 24px;
}
.content-pageinfo p {
    font: 16px/23px 'Arial';
    margin-bottom: 10px;
    line-height: 20px;
    text-align: justify;
}
.content-pageinfo a {
    color: #135eac !important;
    font-weight: bold;
    text-decoration: none;
}
.qc_dh{
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}
.container{
    padding-top: 5%;
}
@media(min-width: 813px) {
    .qc_dh{
        margin-left: 628px;
    }
    .container{
        padding-top: 2%;
    }
}